@tailwind base;
@tailwind components;
@tailwind utilities;
@import-normilize;

:root {
  --accent-color: #ff751d;
  --primary-text-color: #52555f;
  --primary-text-color-transparent: rgba(82, 85, 95, 0.7);
  --black-text-color: #000000;
  --white-text-color: #ffffff;
}
body {
  margin: 0;
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Normilize */

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul,
ol,
button {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
button {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il*/
ul,
ol {
  list-style: none;
}

/* Элементы a сбрасываем до дефолтных стилей */
a {
  text-decoration: none;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}
